@media (min-width: 750px) {
  main {
    max-width: 670px;
    margin: auto;
    transition: 0.3s;
  }

  i {
    top: -52px;
  }
}

@media (min-width: 1200px) {
  body {
    margin: 0;
    background-image: url("/src/images/bg-intro-desktop.png");
  }
  main {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    max-width: 100%;
    transition: 0.3s;
  }

  .section1 {
    grid-column: 1 / 2;
    padding: 80px;

    h1 {
      font-size: 50px;
      line-height: 60px;
      text-align: left;
    }

    p {
      text-align: left;
      font-size: 16px;
    }
  }

  .section2 {
    grid-column: 2 / 3;

    .accent {
      max-width: 630px;
      padding: 10px;
    }
  }

  form {
    max-width: 550px;
    max-height: 570px;
    margin: 0;
    gap: 10px;
    padding: 60px 50px;
  }
}
